<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid mb-2">
    <div class="text">
      <h1>トップページ</h1>
      <p class="lesd">lead</p>
    </div>  
  </div>
</div>  

<div id="main">
  <p>みんなのプラン</p>
</div>

<div id="sideber">      
  <aside>
    <p>ピックアップ</p>
  </aside>
</div>

<div id="footer">    
  <footer>
    <p>footer</p>
  </footer> 
</div>  


